<% content_for :title, "Editing subproject" %>

<h1>Editing subproject</h1>

<%= render "form", subproject: @subproject %>

<br>

<div>
  <%= link_to "Show this subproject", @subproject %> |
  <%= link_to "Back to subprojects", subprojects_path %>
</div>
